body {
    background-image: url(images/gradient-background.png);
    color: lightgray;
    font-family: 'Josefin Sans', sans-serif;
}

.active {
    margin-left: 20px;
}

#linkedin-icon,
#git-hub-icon {
    color: lightgray;
    margin-right: 8px;
    margin-top: 9px;
}

.navbar {
    background-color: transparent;
    border-bottom-color: darkgrey;
}

.well {
    background-color: darkgray;
}

/*
.frame {
    margin: 20px;
    height: 30%;
    height: 30vh;
    width: 30%;
    width: 30vh;
    display: flex;
    align-items: center;
}
*/

h1 {
    margin-top: 10%;
    font-size: 50px;
    text-align: center
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: 10%;
}
