h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 3em;
}

h2 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #6A2626;
}

img {
    resize: both;
    height: 200px;
    width: auto;
    display: block;
}

p {
    font-family: "Times", serif;
    display: inline-block;
    width: 30%;
    vertical-align: text-top;
    padding: 10px;
}

strong {
    font-weight: normal;
    background-color: #BFBBB8;
}