




/*
     FILE ARCHIVED ON 18:50:23 Oct 21, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:33:14 Mar 20, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/** INSTAGRAM WIDGET **/

.instagram-pics {
    list-style: none;
    position: relative;
    padding-left: 0;
    margin: 0;
}

.instagram-pics li {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.instagram-pics li:last-child {
    position: static;
}

.instagram-pics li img {
    width: 100%;
    height: auto;
}