img{
    width:300px;
    margin: 20px;
    
}

.nav{
    height: 60px;
    text-align: center;
    background-color: lightgrey
    
}
a{
    height: 50px;
    width: 60px;
    margin-top: 50px;
    margin: 20px;
    font-size: 20px;
    color: darkslategray;
}

.panel{
    padding: 20px;

}